<% content_for :title, "Editing Provider" %>

<div class="page-header d-print-none">
  <div class="container-xl">
    <h1 class="page-title">Editing Provider</h1>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <%= render "form", provider: @provider %>
      </div>
      <div class="card-footer d-flex gap-2">
        <%= link_to "Show this provider", @provider, class: "btn btn-outline-primary" %>
        <%= link_to "Back to providers", providers_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>
