<% content_for :title, "New Provider" %>

<div class="page-header d-print-none">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><%= link_to "Providers", providers_path %></li>
            <li class="breadcrumb-item active" aria-current="page">New</li>
          </ol>
        </nav>
        <div class="page-pretitle">Infrastructure Management</div>
        <h2 class="page-title">Create New Provider</h2>
      </div>
      <div class="col-auto ms-auto d-print-none">
        <%= link_to "Cancel", providers_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="card">
      <div class="card-body">
        <%= render "form", provider: @provider %>
      </div>
    </div>
  </div>
</div>
