<% if f.object.new_record? %>
  <%= f.select :value, [], { prompt: "Select a template storage" },
    id: "template_storage",
    class: "form-control",
    data: {
      controller: "dynamic-select",
      dynamic_select_url_value: "/api/providers/#node_provider_id?function=template_storage&node=#node_node",
      dynamic_select_text_field_value: "name",
      dynamic_select_value_field_value: "id",
      dynamic_select_children_value: "#template_template",
      dynamic_select_disabled_message_value: "Must select a node first",
      dynamic_select_selected_value_value: f.object.value
    } %>
<% else %>
  <div class="form-control-plaintext">
    <%= f.object.value %>
  </div>
<% end %>
