<nav class="navbar-nav flex-column">
  <div class="nav-item">
    <%= link_to "Providers", providers_path, class: "nav-link" %>
  </div>
  <div class="nav-item">
    <%= link_to "Clusters", clusters_path, class: "nav-link" %>
  </div>
  <div class="nav-item">
    <%= link_to "Jobs", "/sidekiq", class: "nav-link", target: "_blank" %>
  </div>
</nav>
