<% content_for :title, "New Version for #{@database_type.name}" %>

<div class="container-xl">
  <div class="page-header d-print-none">
    <div class="row g-2 align-items-center">
      <div class="col">
        <div class="page-pretitle">
          <%= link_to "Database Types", database_types_path, class: "text-muted" %> / 
          <%= link_to @database_type.name, @database_type, class: "text-muted" %>
        </div>
        <h2 class="page-title">
          New Version
        </h2>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">
      <%= render 'form', database_type_version: @database_type_version %>
    </div>
  </div>
</div>
