<div id="<%= dom_id credential %>">
  <p>
    <strong>Cluster:</strong>
    <%= credential.cluster_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= credential.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= credential.password %>
  </p>

</div>
