<p style="color: green"><%= notice %></p>

<% content_for :title, "Credentials" %>

<h1>Credentials</h1>

<div id="credentials">
  <% @credentials.each do |credential| %>
    <%= render credential %>
    <p>
      <%= link_to "Show this credential", credential %>
    </p>
  <% end %>
</div>

<%= link_to "New credential", new_cluster_node_credential_path(@cluster, @node) %>
